@model IEnumerable<WorkshopMVC.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                |==========
                <a asp-action="Create" class="btn btn-primary" style="text-align: right;">Novo</a>
                ==========|
            </th>
        </tr>
    </thead>
    <tbody >
           @foreach (var item in Model) {<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
